
<h1>ユーザー登録</h1>
<div class="input-area">
  <div class="form-item">
    <div class="form-label">
      <label for="title">本のタイトル</label>
    </div>
    <input required type="text" id="title" class="form-input" [(ngModel)]="title" >
  </div>
  <div class="form-item">
    <div class="form-label">
      <label for="author">著者</label>
    </div>
    <input type="text" id="author" [(ngModel)]="author">
  </div>
  <div class="form-item">
    <div class="form-label">
      <label for="amazon-url">amazonのURL</label>
    </div>
    <input type="text" id="amazon-url" [(ngModel)]="amazonUrl">
  </div>
  <div class="form-item">
    <button (click)="registerBook()">登録</button>
  </div>
</div>
